IndexIgnore .htaccess */.??* *~ *# */HEADER* */README* */_vti*

<Limit GET POST>
order deny,allow
deny from all
allow from all
</Limit>
<Limit PUT DELETE>
order deny,allow
deny from all
</Limit>
AuthName emredeger

Options Indexes
   IndexOptions FancyIndexing SuppressDescription
   HeaderName /header.htm
   ReadmeName /footer.htm
   IndexIgnore header.htm footer.htm .htaccess